* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background: #405c8e;
  background: linear-gradient(
      0deg,
      rgba(64, 92, 142, 1) 0%,
      rgba(24, 43, 76, 1) 100%
    )
    no-repeat;
  color: #fff;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 0 20px;
}

.header {
  padding-top: 2em;
  width: 100%;
  margin: 0 auto;
}

h1 {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  padding: 0;
}

.header-text {
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
  padding: 2em 1em;
  flex-wrap: wrap;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  padding-right: 1em;
}

option {
  font-family: "Inter", sans-serif;
  font-size: 1.1rem;
}

select {
  font-size: 1.1rem;
}

.controls-container {
  width: 100%;
  max-width: 1200px;
}

.column {
  padding: 1em;
  flex: 0 0 33.3333%;
  display: flex;
  justify-content: center;
}

.first-column {
  justify-content: flex-end;
  align-items: center;
}

.third-column {
  justify-content: flex-start;
}

button {
  font-size: 1.1rem;
  padding: 0.5em;
  font-family: "Inter", sans-serif;
  width: 70%;
  background-color: #f1a830;
  color: #000;
  text-transform: uppercase;
  border: none;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #ec3f22;
  color: #fff;
  cursor: pointer;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.colors {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 2em 0;
  height: 60vh;
}

.color {
  background-color: #fff;
  border: 1px black solid;
  width: 100%;
}

.color.clicked {
  filter: brightness(160%);
}

.color h2 {
  color: #fff;
  background-color: #293b4eba;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  font-weight: 300;
  font-size: 1rem;
  padding: 0.2em;
}

.toast {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 10px 20px;
  display: none;
  z-index: 9999;
  transition: opacity 0.3s ease-in-out;
}

.footer {
  padding-bottom: 8em;
}

.footer img {
  width: 100%;
}

@media screen and (max-width: 600px) {
  form {
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-start;
  }

  .column {
    flex: 1 1 50%;
  }

  .first-column {
    justify-content: center;
  }

  button {
    width: 100%;
  }
  .third-column {
    width: 90%;
  }

  .colors {
    display: flex;
    flex-wrap: wrap;
  }
}
